[submodule "cmake_rpn"]
	path = cmake_rpn
	url = ../cmake_rpn.git
	branch = dev
[submodule "App"]
	path = App
	url = ../App.git
	branch = dev
[submodule "dep/json-c"]
	path = dep/json-c
	url = ../json-c.git
[submodule "dep/udunits2"]
	path = dep/udunits2
	url = ../udunits2.git
