[submodule "cmake_rpn"]
	path = cmake_rpn
	url = ../cmake_rpn.git
	branch = dev
[submodule "App"]
	path = App
	url = ../App.git
	branch = master
[submodule "src/fstd98/rsfiles"]
	path = src/fstd98/rsfiles
	url = git@github.com:mfvalin/rsfiles.git
